body {
  background-color: #ffffff;
  width: 100%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
}
header {
  background-color: #FFEB00;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 4px solid #344CB7;
}
.logo {
  width: 200px;
}
.logo img {
  width: 80px;
}
.logo img:hover {
  transform: scale(.9);
  transition: all .4s ease-in-out;
}

nav {
  background-color: #FFEB00;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}
li {
  margin-right: 60px;
}
a {
  text-decoration: none;
  font-size: larger;
}
a:hover {
  text-decoration: underline;
  text-underline-offset: 8px;
  text-decoration-color: #ef7f3e;
}
.hero img {
  width: 100%;
}
.hero-text {
  background-color: #344CB7;
  color: #FFEB00;
  padding: 12px;
  text-align: center;
}
#about {
  background-image: url(./asset/about\ image.gif);
  background-position: right;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: contain;
  height: 75vh;
  padding: 20px;
  background-color: #bbc3e6;
}
#about h2 {
  margin-top: 50px;
  width: 50%;
  padding-left: 40px;
}
#about p {
  width: 50%;
  padding-left: 40px;
  line-height: 1.7em;
}

#product {
  width: 100%;
  background-color: #ffffff;
  text-align: center;
  margin: 40px;
}

#product h2 {
  text-align: center;
  color: #344CB7;
}

.card-product {
  width: 95%;
  margin: 30px auto;
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
  background-color: #f4ee97;
}

.card:hover {
  transform: scale(.9);
  transition: all .4s ease-in-out;
}

.price {
  color: grey;
  font-size: 22px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: #FFEB00;
  background-color: #344CB7;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}
.card button:hover {
  opacity: 0.7;
}
#contact {
  width: 90%;
  margin: 40px auto;
  display: flex;
  padding: 30px;
  border: 1px solid #FFEB00;
}
.contact-text {
  align-items: center;
  padding-left: 70px;
  width: 50%;
}
.contact-text h4 {
  color: #344CB7;
}
.contact-text p {
  font-size: xx-large;
}
.contact-text button {
  padding: 8px 35px;
  background-color: #b5bfea;
  border: none;
}
.contact-text button:hover {
  background-color: #FFEB00;
  color: #344CB7;
  box-shadow: 3px 3px 20px #344CB7;
}
.contact-image {
  width: 50%;
}
.contact-image img {
  width: 60%;
}

footer {
  text-align: center;
  padding: 20px;
  background-color: #344CB7;
  color: #FFEB00;
  font-weight: bold;
}